<form class="form-notification form-standard" action="{{ url_for('notifications.save') }}" method="POST">
    {% if engage %}
    <div class="engagement switch on">
        <div class="form-group">
            <label for="{{form_label}}posts">Select a Post:</label>
            <div class="row">
                <div class="col-sm-9">
                    <select class="form-control" id="{{form_label}}posts" tabindex="1" name="posts">
                        {% for s in notification['posts'].hits %}
                            <option value="{{s.id}}" {% if post_id == s.id %} selected{% endif %}>{{s.message|truncate(53)}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3">
                    <a class="anchor form-link-new" href="#">New Post</a>
                </div>
            </div>
        </div>
        <p>OR</p>
        <div class="form-group">
            <label for="{{form_label}}url">Enter URL:</label>
            <div class="row">
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="url" id="{{form_label}}url" tabindex="2" placeholder="http://my-site.com/" />
                </div>
            </div>
        </div>
    </div>
    {# Below hidden by default and replaces above when post is pre-selected #}
    <div class="form-group post-booster switch">
        <label>We'll boost:</label>
        <div class="row">
            <div class="col-sm-9">
                <div id="{{form_label}}boosted-post" class="boosted-post static-control"></div>
            </div>
        </div>
    </div>
    {% elif smart_share %}
    <div class="form-group">
        <label>Let's grow via:</label>
        <div class="row">
            <div class="col-sm-9">
                <div class="static-control">Smart Sharing</div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="form-group audience switch on">
        <label for="{{form_label}}segments">Select Audience:</label>
        <div class="row">
            <div class="col-sm-9">
                <select class="form-control" id="{{form_label}}segments" tabindex="3" name="segments">
                    {% for s in notification['segments'] %}
                        <option value="{{s._id|string}}" {% if segment_id == s._id|string %} selected{% endif %}>{{s.name}} ({{s.count}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <a class="anchor form-link-new" href="#">New Segment</a>
            </div>
        </div>
    </div>
    {# Below hidden by default and replaces above when segment is pre-selected #}
    <div class="form-group segment-engager switch">
        <label>We'll engage:</label>
        <div class="row">
            <div class="col-sm-9">
                <div id="{{form_label}}engaged-segment" class="engaged-segment static-control"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{form_label}}messages">Select Message:</label>
        <div class="row">
            <div class="col-sm-9">
                <select class="form-control" id="{{form_label}}messages" tabindex="4" name="messages">
                    {% for s in messages or notification['messages'] %}
                        <option value="{{s}}">{{s}}</option>
                    {% endfor %}
                </select>
                <div class="checkbox">
                    <div class="col-sm-6">
                        <label>
                            <input type="checkbox" name="smart_advertising">Boost with SmartAdvertising</input>
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <a class="anchor" href="{{ url_for('facebook.index') }}">Settings</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <a class="anchor form-link-new" href="#">Write Your Own</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default btn-action" tabindex="5">SmartSchedule</button>
        <div class="advice-block row">
            <div class="col-sm-1"><span class="advice-block bigger" data-icon="&#xe028;"></span></div>
            <div class="col-sm-11">Messages sent with SmartSchedule have 25% higher engagement.</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default calendar" tabindex="6">
            Manual Schedule
            <div id="{{form_label}}dateinput"></div>
        </button>
        OR
        <button type="submit" class="btn btn-default" tabindex="7">Send Now</button>
    </div>
</form>
