<div class="modal fade" id="grow-modal" tabindex="-1" role="dialog" aria-labelledby="Grow Audience" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">Grow Audience</h4>
            </div>
            <div class="modal-body" id="modal-body" style="text-align: center;">
                <a href="#" class="btn btn-danger">Invite Facebook Fans</a><br />
                <a href="#" class="btn btn-default">Invite External List</a><br />
                <a href="#" class="btn btn-default">Smart Sharing Invite</a><br />
                <a href="#" class="btn btn-default">Generate Invite URL</a><br />
            </div>
        </div>
    </div>
</div>
