{% macro multibar(id, columns, title, data, date_format="%m/%d/%y %H:%M:00") %}
    <div class="col-md-{{columns}} dash-chart">
        <h3>{{title}}</h3>
        <div id="chart{{id}}">
            <svg></svg>
        </div>
    </div>
    <script>
        $(document).ready(build_multibarchart_{{id}});

        function build_multibarchart_{{id}}(){
            var data = eval({{data|safe}});
            nv.addGraph(function() {
                var chart = nv.models.multiBarChart();

                chart.xAxis
                .tickFormat(function(d) {
                    return d3.time.format("{{date_format}}")(new Date(d));
                });

                chart.yAxis
                .tickFormat(d3.format(',.1f'));
                d3.select('#chart{{id}} svg')
                .datum(data)
                .transition().duration(500)
                .call(chart)
                ;

                nv.utils.windowResize(chart.update);

                return chart;
            });
        }
    </script>
{% endmacro %}


{% macro pie(id, columns, title, data) %}
    <div class="col-md-{{columns}} dash-chart pie">
        <h3>{{title}}</h3>
        <div id="chart{{id}}">
            <svg></svg>
        </div>
    </div>
    <script>
    $(document).ready(build_piechart_{{id}});

    function build_piechart_{{id}}(){
        var data = eval({{data|safe}});
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;

            d3.select("#chart{{id}} svg")
            .datum(data)
            .transition().duration(350)
            .call(chart);

            return chart;
        });
    }
    </script>
{% endmacro %}

{% macro stackedline(id, columns, title, data, date_format) %}
    <div class="col-md-{{columns}} dash-chart stackedline">
        <h3>{{title}}</h3>
        <div id="chart{{id}}">
            <svg></svg>
        </div>
    </div>
    <script>
    $(document).ready(build_stackedline_{{id}});

    function build_stackedline_{{id}}(){
        var data = eval({{data|safe}});
        console.log(data);
        nv.addGraph(function() {
            var chart = nv.models.stackedAreaChart()
            .x(function(d) { return d.x })   //We can modify the data accessor functions...
            .y(function(d) { return d.y })   //...in case your data is formatted differently.
            .useInteractiveGuideline(true)    //Tooltips which show all data points. Very nice!
            .transitionDuration(500);

            //Format x-axis labels with custom function.
            chart.xAxis
            .tickFormat(function(d) {
                return d3.time.format("{{date_format}}")(new Date(d))
            });

            chart.yAxis
            .tickFormat(d3.format(',.2f'));

            d3.select('#chart{{id}} svg')
            .datum(data)
            .call(chart);

            nv.utils.windowResize(chart.update);
        });
    };
    </script>
{% endmacro %}


{% macro lineplusbar(id, columns, title, data, date_format) %}
<div class="col-md-{{columns}} dash-chart stackedline">
    <h3>{{title}}</h3>
    <div id="chart{{id}}">
        <svg></svg>
    </div>
</div>
<script>
$(document).ready(build_stackedline_{{id}});

function build_stackedline_{{id}}(){
    var data = eval({{data|safe}});
    console.log(data);
    nv.addGraph(function() {
        var chart = nv.models.linePlusBarChart()
        .x(function(d) { return d.x })   //We can modify the data accessor functions...
        .y(function(d) { return d.y })   //...in case your data is formatted differently.

        //Format x-axis labels with custom function.
        chart.xAxis
        .tickFormat(function(d) {
            return d3.time.format("{{date_format}}")(new Date(d))
        });

        chart.y1Axis
        .tickFormat(d3.format(',.2f'));

        chart.y2Axis
        .tickFormat(d3.format(',.2f'));

        chart.bars.forceY([0]);

        d3.select('#chart{{id}} svg')
        .datum(data)
        .call(chart);

        nv.utils.windowResize(chart.update);
    });
};
</script>
{% endmacro %}

{% macro usa(id, columns, title, data) %}
<div class="col-md-{{columns}} dash-chart usa">
    <h3>{{title}}</h3>
    <div id="chart{{id}}" class="geo"></div>
</div>
<script>
$(document).ready(build_usa_{{id}});

function build_usa_{{id}}(){
    var data = eval({{data|safe}});
    var width = "100%",
    height = "100%";

    var projection = d3.geo.albersUsa()
    .scale(800)
    .translate([$("#chart{{id}}").width() / 2, $("#chart{{id}}").height() / 2]);

    var path = d3.geo.path()
    .projection(projection);

    var svg = d3.select("#chart{{id}}").append("svg")
    .attr("width", width)
    .attr("height", height);

    var radius = d3.scale.sqrt()
    .domain([0, 300])
    .range([0, 15]);

    d3.json("/static/json/us.json", function(error, us) {
        svg.insert("path", ".graticule")
        .datum(topojson.feature(us, us.objects.land))
        .attr("class", "land")
        .attr("d", path);

        svg.insert("path", ".graticule")
        .datum(topojson.mesh(us, us.objects.counties, function(a, b) { return a !== b && !(a.id / 1000 ^ b.id / 1000); }))
        .attr("class", "county-boundary")
        .attr("d", path);

        svg.insert("path", ".graticule")
        .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
        .attr("class", "state-boundary")
        .attr("d", path);

        data.forEach(function(d) {
            var p = projection([+d.lng, +d.lat]);
            if (p){
                d.x = Math.round(p[0]);
                d.y = Math.round(p[1]);
                var c = svg.append("circle")
                .attr("cx", d.x)
                .attr("cy", d.y)
                .attr("class", "bubble")
                .attr("r", function() { return radius(d.count); });

                c.append("title").text(function(){
                    return d.name+": "+d.count;
                })
            }
        });
    });
};
</script>
{% endmacro %}

{% macro vertical_circle(id, columns, title, data, date_format) %}
<div class="col-md-{{columns}} dash-chart vertical-circle">
    <h3>{{title}}</h3>
    <div id="chart{{id}}"></div>
</div>
<script>
$(document).ready(build_vertical_circle_{{id}});

function truncate(str, maxLength, suffix) {
    if(str.length > maxLength) {
        str = str.substring(0, maxLength + 1);
        str = str.substring(0, Math.min(str.length, str.lastIndexOf(" ")));
        str = str + suffix;
    }
    return str;
}

function build_vertical_circle_{{id}}(){
    var data = eval({{data|safe}});
    var margin = {top: 20, right: 200, bottom: 0, left: 20},
    width = $("#chart{{id}}").width()-200,
    height = $("#chart{{id}}").height();

    var c = d3.scale.category20c();

    var x = d3.scale.linear()
        .range([0, width]);

    for(var i in data){
        var max = d3.max(data[i].articles, function(array){
            return array[0];
        })
        var min = d3.min(data[i].articles, function(array){
            return array[0];
        })
        var max_count = d3.max(data[i].articles, function(array){
            return array[1];
        })
        var ticks = [];
        for(var a in data[i].articles){
            ticks.push(data[i].articles[a][0]);
        }
        break;
    }

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("top")
        .tickValues(ticks)
        .tickFormat(function(d) {
            return d3.time.format("{{date_format}}")(new Date(d))
        });

    var svg = d3.select("#chart{{id}}").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .style("margin-left", margin.left + "px")
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    for(var i in data){
        var max = d3.max(data[i].articles, function(array){
            return array[0];
        })
        var min = d3.min(data[i].articles, function(array){
            return array[0];
        })
        break;
    }

    x.domain([min, max]);
    var xScale = d3.scale.linear()
        .domain([min, max])
        .range([0, width]);

    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + 0 + ")")
    .call(xAxis);

    var max_count = 0
    for(var i in data){
        for(var a in data[i].articles){
            var art = data[i].articles[a];
            max_count = art[1] > max_count ? art[1] : max_count;
        }
    }

    for (var j = 0; j < data.length; j++) {
        var g = svg.append("g").attr("class","journal");

        var circles = g.selectAll("circle")
        .data(data[j]['articles'])
        .enter()
        .append("circle");

        var text = g.selectAll("text")
        .data(data[j]['articles'])
        .enter()
        .append("text");

        var rScale = d3.scale.linear()
        .domain([0, max_count])
        .range([1, 15]);

        circles
        .attr("cx", function(d, i) { return xScale(d[0]); })
        .attr("cy", j*20+20)
        .attr("r", function(d) { return rScale(d[1]); })
        .style("fill", function(d) { return c(j); });

        text
        .attr("y", j*20+25)
        .attr("x",function(d, i) { return xScale(d[0])-5; })
        .attr("class","value")
        .text(function(d){ return d[1]; })
        .style("fill", function(d) { return c(j); })
        .style("display","none");

        g.append("text")
        .attr("y", j*20+25)
        .attr("x",width+20)
        .attr("class","label")
        .text(truncate(data[j]['name'],30,"..."))
        .style("fill", function(d) { return c(j); })
        .on("mouseover", mouseover)
        .on("mouseout", mouseout);
    };

    function mouseover(p) {
        var g = d3.select(this).node().parentNode;
        d3.select(g).selectAll("circle").style("display","none");
        d3.select(g).selectAll("text.value").style("display","block");
    };

    function mouseout(p) {
        var g = d3.select(this).node().parentNode;
        d3.select(g).selectAll("circle").style("display","block");
        d3.select(g).selectAll("text.value").style("display","none");
    };
};

</script>
{% endmacro %}

{% macro word_bubble(id, columns, title, data) %}
<div class="col-md-{{columns}} dash-chart word-bubble">
    <h3>{{title}}</h3>
    <div id="chart{{id}}" class="words"></div>
</div>
<script>
$(document).ready(build_word_bubble_{{id}});

function build_word_bubble_{{id}}(){
    var data = eval({{data|safe}});
    width = $("#chart{{id}}").width(),
    height = $("#chart{{id}}").height();
    var bleed = 0;
    var pack = d3.layout.pack()
    .sort(null)
    .size([width, height + bleed * 2])
    .padding(2);

    var svg = d3.select("#chart{{id}}").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(0," + -bleed + ")");

    var node = svg.selectAll(".node")
    .data(pack.nodes(flatten(data))
    .filter(function(d) { return !d.children; }))
    .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

    node.append("circle")
    .attr("r", function(d) { return d.r; })
    .attr("class", "circle");

    node.append("text")
    .text(function(d) { return d.name; })
    .style("font-size", function(d) { return Math.min(2 * d.r, (2 * d.r - 8) / this.getComputedTextLength() * 12) + "px"; })
    .attr("dy", ".35em")
    .attr("class", "word-bubble");

    // Returns a flattened hierarchy containing all leaf nodes under the root.
    function flatten(root) {
        var nodes = [];

        function recurse(node) {
            if (node.children) node.children.forEach(recurse);
            else nodes.push({name: node.name, value: node.size});
        }

        recurse(root);
        return {children: nodes};
    }
}
</script>
{% endmacro %}
