{% extends "base.html" %}

{% block title %}Boost Post{% endblock %}
{% set active_page='engagement' %}
{% block head %}
<script>
$(document).ready(function(){
    $(".calendar").click(function(e){
        try{
            $("#dateinput").datepicker("dialog", "", function(t, o){
                $(".calendar").html(t+"<div id='dateinput'></div>");
                if(!$(".schedule").length){
                    $(".calendar").after("<button type='submit' class='btn btn-default schedule'>Schedule</button>");
                }
            }, {}, [e.pageX, e.pageY+20]);
        }catch(er){
            console.log(er);
        }
        e.preventDefault();
        e.stopPropagation();
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <h3>{% if engage %}Engage{% else %}Grow{% endif %}</h3>
    {% include "notifications/includes/form.html" %}
</div>

{% endblock %}
