{% extends "base.html" %}

{% block title %}Create Notification{% endblock %}

{% block content %}
<h3>Create Notification</h3>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="content">Message</label>
        <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="segments">Segment <a href="/segment/create">Create New</a></label>
        <select class="form-control" id="segments">
            <option>Everyone (9,747)</option>
            <option>Drama lovers in Delaware (2,909)</option>
            <option>Liberals in Detroit (1,990)</option>
            <option>Readers in California (2,990)</option>
            <option>Soccer Players in USA (7,098)</option>
            <option>Buddhists in Chicago (544)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="posts">Facebook Post</label>
        <select class="form-control" id="posts">
            <option>New Website</option>
            <option>Fund Raising</option>
            <option>Christmas Gala</option>
            <option>We love our supporters!</option>
            <option>Time to bring home the bacon...</option>
            <option>We're LIVE!</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
