{% extends "base.html" %}

{% block title %}Boost Post{% endblock %}

{% block head %}
<script>
$(document).ready(function(){
    $(".calendar").click(function(e){
        try{
            $("#dateinput").datepicker("dialog", "", function(t, o){
                $(".calendar").html(t+"<div id='dateinput'></div>");
                if(!$(".schedule").length){
                    $(".calendar").after("<button type='submit' class='btn btn-default schedule'>Schedule</button>");
                }
            }, {}, [e.pageX, e.pageY+20]);
        }catch(er){
            console.log(er);
        }
        e.preventDefault();
        e.stopPropagation();
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <h3>Boost Post</h3>
    <form action="{{ url_for('.save') }}" method="POST">
        <div class="form-group">
            <label for="posts">Select a Post <a href="#">Create New</a></label>
            <select class="form-control" id="posts" name="posts">
                {% for s in posts.hits %}
                    <option value="{{s.id}}">{{s.message|truncate(33)}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="segments">Select an Audience <a href="{{url_for('audience.create')}}">Create New</a></label>
            <select class="form-control" id="segments" name="segments">
                {% for s in segments %}
                    <option value="{{s._id|string}}">{{s.name}} ({{s.count}})</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="messages">Select a Message <a href="#">Write your own</a></label>
            <select class="form-control" id="messages" name="messages">
                {% for s in messages %}
                    <option value="{{s}}">{{s}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="smart_advertising"> Boost with SmartAdvertising <a href="{{ url_for('facebook.index') }}">Settings</a>
                </label>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-default">SmartSchedule</button>
            <button type="submit" class="btn btn-default calendar">
                Manual Schedule
                <div id="dateinput"></div>
            </button>
            <button type="submit" class="btn btn-default">Send Now</button>
        </div>
    </form>
</div>

{% endblock %}
