<div class="row">
    <div class="col-md-12">
        <h3>Notifications <a href="{{ url_for('.create') }}" class="btn btn-success">Create</a></h3>
        <table class="table table-striped">
            <thead>
                <th>Message</th>
                <th>Segment</th>
                <th>Post</th>
                <th>Clicks</th>
                <th>Created</th>
                <th>Sent</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in records %}
                <tr>
                    <td>{{p.message|truncate(100)}}</td>
                    <td><a href="{{url_for('audience.id', id=p.segment._id|string)}}">{{p.segment.name}} ({{"{:,}".format(p.segment.count)}})</a></td>
                    <td>{{p.get_post().message|truncate(100)}}
                    <td>{{"{:,}".format(p.clicks)}}</td>
                    <td>{{p.created}}</td>
                    <td>{{p.created}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
