{% extends "base.html" %}
{% block title %}Create Segment{% endblock %}
{% block head %}
<script src="/static/js/vendor/jquery.autocomplete.multiselect.js"></script>
<script>
    var id = "{{id}}";
    var filters = eval({{filters_json|safe}});

    console.log(filters);

    function notify(text){
        $("#notification").html(text);
        $(".alert").removeClass("hidden");
    }

    $(document).ready(function(){
        $("#filter-submit").click(function(e){
            $(".term-input").each(function(i, el){
                console.log($(el).autocomplete("instance").selectedItems);
                var vals = [];
                for(v in $(el).autocomplete("instance").selectedItems){
                    vals.push(v);
                }
                filters[$(el).data("field")] = vals;
            });
            var name=$("#segment-name").val();
            $.pjax({
                container:"#records",
                url: "{{ url_for('.filter_update', id=id, page=0) }}",
                type:"POST",
                data:{"filters":JSON.stringify(filters), "name":name},
                push:false,
            });
        });

        $("#segment-name-save").click(function(e){
            $.pjax({
                container:"#notifications",
                url:"{{ url_for('.save', id=id) }}",
                type:"POST",
                data:{'name':$("#segment-name").val()},
                push:false,
            });
        });
    });

</script>
{% endblock %}

{% block content %}
<div class="row" id="filtered">
    {% include "audience/filtered.html" %}
</div>
{% endblock %}
