{% extends "base.html" %}
{% block title %}Create Segment{% endblock %}
{% set active_page='audience' %}
{% block head %}
<script src="/static/js/vendor/jquery.autocomplete.multiselect.js"></script>
<script>
    capuchin.segment = (function () {
        var self = {
            id: '{{id}}',
            filters: {{filters_json|safe}}
        };

        function _collect_term_filters () {
            var $this = $(this),
                items = $this.autocomplete('instance').selectedItems;

            self.filters[$this.data('field')] = Object.keys(items);
        }

        function collect_term_filters () {
            $(".term-input").each(_collect_term_filters);
        }

        function _update_filters (refresh, data) {
            $('#records').html(data).trigger('capuchin.table.load');

            if (!refresh) {
                notify('info',
                    "Segment Saved. " +
                    '<a href="#" class="btn btn-default" data-toggle="modal" data-target="#boost-modal">Create</a> a Notification.');
            }
        }

        function update_filters (refresh) {
            var name = $("#title").val(),
                data = {
                    name: name,
                    filters: JSON.stringify(self.filters),
                    refresh: refresh ? 1 : undefined
                };

            $.ajax({
                url: "{{ url_for('.filtered_users', id=id, page=0) }}",
                type: 'POST',
                data: data,
                success: _update_filters.bind(undefined, refresh)
            });

            if (refresh) {
                $.ajax({
                    url: "{{ url_for('.filtered_summary', id=id, page=0) }}",
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        $('#segment-summary .member-count').text(data.member_count);
                        $('#segment-summary .engagement-count').text(data.engagement);
                    }
                });
            }
        }

        self.refresh = function (event, refresh) {
            collect_term_filters();
            update_filters(refresh != undefined ? refresh : true);
            if (event) {
                event.preventDefault();
            }
        };

        return self;
    })();

    $(document).ready(function () {
        $("#segment-refresh").click(capuchin.segment.refresh);

        $("#segment-save").click(function (event) {
            capuchin.segment.refresh(event, false);
        });


        $("#title").keyup(function() {
            $("#segment-summary .segment-title").text($(this).val());
        });
    });
</script>
{% endblock %}

{% block content %}
{% set segment_id=id %}
<div id=filtered class=row>
    {% include "audience/filtered.html" %}
</div>
{% endblock %}
