{% extends "base.html" %}
{% block title %}Create Segment{% endblock %}
{% set active_page='audience' %}
{% block head %}
<script src="/static/js/vendor/jquery.autocomplete.multiselect.js"></script>
<script>
    var id = "{{id}}";
    var filters = eval({{filters_json|safe}});
    var values = {{values|to_json}};

    function collect_filters(){
        $(".term-input").each(function(i, el){
            var vals = [];
            for(v in $(el).autocomplete("instance").selectedItems){
                vals.push(v);
            }
            filters[$(el).data("field")] = vals;
        });
    }

    function update_filters(refresh){
        var name=$("#title").val();
        var url = "{{ url_for('.filtered_users', id=id, page=0) }}";
        var id = "records";
        var data = {"filters":JSON.stringify(filters), "name":name}
        if(refresh) data.refresh = 1;
        $.ajax({
            url: url,
            type:"POST",
            data:data,
            success: function(data){
                $("#"+id).html(data);
                register_table_sorting();
                register_paging();
                init_table_rows();
                if(!refresh){
                    notify(
                        "info",
                        "Segment Saved. \
                        <a href='#'' class='btn btn-default' data-toggle='modal' data-target='#boost-modal'>Create</a> a Notification."
                    );
                }
            }
        });
        if(refresh) {
            $.ajax({
                url:"{{ url_for('.filtered_summary', id=id, page=0) }}",
                type:"POST",
                data:data,
                success: function(data){
                    $('#segment-summary .member-count').text(data.member_count);
                    $('#segment-summary .engagement-count').text(data.engagement);
                }
            });
        }
    }

    var refresh = function(e){
        collect_filters();
        update_filters(true);
        return false;
    }

    $(document).ready(function(){
        $("#segment-refresh").click(refresh);

        $("#segment-save").click(function(e){
            collect_filters();
            update_filters();
            return false;
        });


        $("#title").keyup(function() {
            $("#segment-summary .segment-title").text($(this).val());
        });
    });


</script>
{% endblock %}

{% block content %}
{% set segment_id=id %}
<div id=filtered class=row>
    {% include "audience/filtered.html" %}
</div>
{% endblock %}
