<h3><div contenteditable='true' id="title">{{name}}</div></h3>
<div class="col-md-6 form-horizontal">
{% for filter in filters[:5] %}
    <div class="form-group">
        <label class="col-md-3 control-label"><span class="{{filter['icon']}}"></span> {{filter['display']}}</label>
        <div class="col-md-9">
            {% include "widgets/{}_filter.html".format(filter['type']) %}
        </div>
    </div>
{% endfor %}
</div>
<div class="col-md-6 form-horizontal">
{% for filter in filters[5:] %}
    <div class="form-group">
        <label for="location" class="col-md-3 control-label"><span class="{{filter['icon']}}"></span> {{filter['display']}}</label>
        <div class="col-md-9">
            {% include "widgets/{}_filter.html".format(filter['type']) %}
        </div>
    </div>
{% endfor %}
    <div>
        <button id="segment-refresh" class="btn btn-primary">Refresh</button>
        <button id="segment-save" class="btn btn-danger">Save Segment</button>
    </div>
</div>
