{% extends "base.html" %}

{% block title %}Audience{% endblock %}

{% set active_page='audience' %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).pjax(".pager", "#records", {push:false, type:"POST"});
    });

</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-9">
        <h3>Segments <a href="{{ url_for('.create') }}" class="btn btn-primary">Create</a></h3>
        {{segments.render(q={"name":{"$ne":None}})|safe}}
        <div id="records">
            <h3>Your Audience</h3>
            {% include "audience/records.html" %}
        </div>
    </div>
    <div class="col-md-3 heading-embedded">
        {% from "widgets/bucket.html" import bucket %}
        <div class="thumbnail">
            {{ bucket("Smart Segment", "members", smart_segment.count, 2, url_for('audience.id', id=smart_segment._id|string), "Create") }}
        </div>
    </div>
</div>
{% endblock %}
