{% extends "base.html" %}

{% block title %}Audience{% endblock %}

{% set active_page='audience' %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).pjax(".pager", "#records", {push:false, type:"POST"});
    });
    nv.addGraph(function () {
        var chart = nv.models.pieChart().showLabels(false).tooltips(false)
            .height(15).width(60).color(['white', '#155982']);
        d3.select(".smart-segment svg")
            .datum([{x: 'foo', y: 75}, {x: 'bar', y: 25}])
            .transition().duration(350)
            .call(chart);
        return chart;
    });

</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-9">
        <h3>Segments <a href="{{ url_for('.create') }}" class="btn btn-primary">Create</a></h3>
        {{segments.render(q={"name":{"$ne":None}})|safe}}
        <div id="records">
            <h3>Your Audience</h3>
            {% include "audience/records.html" %}
        </div>
    </div>
    <div class="col-md-3 heading-embedded">
        <div class="thumbnail smart-segment">
            <div class="caption">
                <h4><span data-icon="&#xe028;"></span> Smart Segments</h4>
                <p class="sub-header">
                    <svg></svg>
                    Boost engagement among young urban professionals
                </p>
                <a href="" class="btn btn-default" data-toggle='modal' data-target="">Create this Segment</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
