<div class="row">
    <div class="col-md-12">
        <h4>Members: {{"{:,}".format(total)}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Location</th>
                <th></th>
            </thead>
            <tbody>
                {% for p in records %}
                <tr>
                    <td>{{p.first_name}}</td>
                    <td>{{p.last_name}}</td>
                    <td>{{p.gender}}</td>
                    <td>{{p.get('age', '')}}</td>
                    <td>{{p.location.location}}</td>
                    <td>
                        <a target="_blank" class='btn btn-primary' href="http://facebook.com/{{p.efid}}" role="button">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include "audience/pagination.html" %}
    </div>
</div>
