{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<script src="http://d3js.org/topojson.v1.min.js"></script>
{% endblock %}

{% block content %}
    {% import "widgets/charts/chart.html" as chart %}
    <div class="row">
        {{chart.usa("usa", 8, "Users by City", city_population.dump())}}
        {{chart.vertical_circle("referrers", 4, "Top referrers", referrers.dump(), referrers.date_format)}}
    </div>
    <div class="row">
        {{chart.word_bubble("top_words", 6, "Top Words", top_words.dump())}}
        {{chart.multibar("engaged", 6, "Page Engagement", engaged_users.dump(), engaged_users.date_format)}}
        {{chart.stackedline("likes", 6, "Likes", likes.dump(), likes.date_format)}}
        {{chart.lineplusbar("like_gains", 6, "Likes", like_gains.dump(), like_gains.date_format)}}
        {{chart.pie("online", 6, "Fans Online by Hour", online.dump())}}
        {{chart.pie("engagement_story", 6, "Engagment by Story Type", page_by_type.dump())}}
        {{chart.pie("country", 6, "Engagment by Country", country.dump())}}
    </div>
    <div class="row">
        {% if first %}
            <h1>Welcome to Capuchin, let's show you around!</h1>
        {% endif %}
        <div class="col-md-4">
            <h3>Campaigns</h3>
            <table class='table table-striped'>
                <thead>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Users</th>
                    <th>Clicks</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>Avid readers in California</td>
                        <td>We've got some great new resources for you...</td>
                        <td>5,908</td>
                        <td>2,898</td>
                        <td>
                            <a class='btn btn-primary' href='' role="button">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>New Website</td>
                        <td>Check out the new site!</td>
                        <td>2,898</td>
                        <td>2,512</td>
                        <td>
                            <a class='btn btn-primary' href='' role="button">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Help us help you!</td>
                        <td>Donate now and get a free subscription.</td>
                        <td>6,005</td>
                        <td>3,090</td>
                        <td>
                            <a class='btn btn-primary' href='' role="button">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Drama fans in Delaware</td>
                        <td>Delaware loves the Golden Globes.</td>
                        <td>1,309</td>
                        <td>566</td>
                        <td>
                            <a class='btn btn-primary' href='' role="button">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Liberals in Detroit</td>
                        <td>Detroit needs you!</td>
                        <td>1,098</td>
                        <td>978</td>
                        <td>
                            <a class='btn btn-primary' href='' role="button">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Lists</h3>
            <table class='table table-striped'>
                <thead>
                    <th>Name</th>
                    <th>Users</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for l in lists %}
                    <tr>
                        <td>{{l.name}}</td>
                        <td>{{"{:,}".format(l.users)}}</td>
                        <td>
                            <a class='btn btn-primary' href="{{url_for('lists.index')}}" role="button">View</a>
                            <a class='btn btn-danger' href='' role="button">Share</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Segments</h3>
            <table class='table table-striped'>
                <thead>
                    <th>Name</th>
                    <th>Users</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for s in segments %}
                    <tr>
                        <td>{{s.name}}</td>
                        <td>{{"{:,}".format(s.count)}}</td>
                        <td>
                            <a class='btn btn-primary' href="{{url_for('segments.id', id=s._id|string)}}" role="button">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
