{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<script src="/static/vendor/topojson.v1.min.js"></script>
<script src="/static/js/charts/chart.js"></script>

<script>
$(document).ready(function(){
    $("#charts").lineplusarea({
        name:"Total Growth over Time",
        data_url:"{{url_for('.chart', chart_id='total_growth_over_time')}}",
        height:300,
        legend_x:-250,
        legend_y:240,
    }).render(12);

    /*
    $("#charts").usa({
        name:"Users by City",
        data_url:"{{url_for('.chart', chart_id='city_population')}}"
    }).render(12);
    $("#charts").vertical_circle({
        name:"Top Referrers",
        data_url:"{{url_for('.chart', chart_id='referrers')}}"
    }).render(12);

    $("#charts").horizontal_multibar({
        name:"Top Likes",
        data_url:"{{url_for('.chart', chart_id='top_likes')}}"
    }).render(12);
    $("#charts").multibar({
        name:"Page Engagement",
        data_url:"{{url_for('.chart', chart_id='engaged_users')}}"
    }).render(12);

    $("#charts").word_bubble({
        name:"Top Words",
        data_url:"{{url_for('.chart', chart_id='top_words')}}"
    }).render(12);

    $("#charts").stackedline({
        name:"Likes",
        data_url:"{{url_for('.chart', chart_id='likes')}}"
    }).render(12);
    $("#charts").lineplusbar({
        name:"Likes",
        data_url:"{{url_for('.chart', chart_id='like_gains')}}"
    }).render(12);
    $("#charts").pie({
        name:"Engagement by Story Type",
        data_url:"{{url_for('.chart', chart_id='page_by_type')}}"
    }).render(12);
    $("#charts").pie({
        name:"Engagement by Country",
        data_url:"{{url_for('.chart', chart_id='country')}}"
    }).render(12);*/

    nv.addGraph(function () {
        var chart = nv.models.pieChart().showLabels(false).tooltips(false)
            .height(15).width(60).color(['white', '#155982']);
        d3.select(".buzz svg")
            .datum([{x: 'foo', y: 60}, {x: 'bar', y: 40}])
            .transition().duration(350)
            .call(chart);
        return chart;
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="grow-modal" tabindex="-1" role="dialog" aria-labelledby="Grow Audience" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">Grow Audience</h4>
                </div>
                <div class="modal-body" id="modal-body" style="text-align: center;">
                    <a href="#" class="btn btn-danger">Convert Facebook Fans</a><br />
                    <a href="#" class="btn btn-default">Convert External List</a><br />
                    <a href="#" class="btn btn-default">Smart Sharing Invite</a><br />
                    <a href="#" class="btn btn-default">Generate Invite URL</a><br />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="boost-modal" tabindex="-1" role="dialog" aria-labelledby="New Notification" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">New Notification</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    {% set engage=True %}
                    {% include "notifications/form.html" %}
                </div>
            </div>
        </div>
    </div>
    {% from "widgets/bucket.html" import bucket %}
    <div class="row buckets">
        <div class="col-md-3 right-carot">
            <div class="thumbnail">
                {{ bucket("Audience", "Supporters", 1592, 5, "#grow-modal", "Grow", "week", true) }}
            </div>
        </div>
        <div class="col-md-3 right-carot">
            <div class="thumbnail">
                {{ bucket("Engagement", "Engaged Supporters", 754, 7, "#boost-modal", "Boost", "week", true) }}
            </div>
        </div>
        <div class="col-md-3 right-carot">
            <div class="thumbnail">
                {{ bucket("Impact", "Actions this month", 589, 2, "reports", "View Report", "month", false) }}
            </div>
        </div>
        <div class="col-md-3 bottom-speech">
            <div class="thumbnail buzz">
                <div class="caption">
                    <h4><span data-icon="&#xe028;"></span> Buzz</h4>
                    <p class="sub-header">
                        <svg></svg>
                        40% of your one-time donors liked Ebola-related posts.
                    </p>
                    <a href="" class="btn btn-default" data-toggle='modal' data-target="">Activate this Segment</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h3>Recent Activity <a class="btn btn-primary" href="{{ url_for('engagement.index') }}">See more</a></h3>
                {{ posts|safe }}
            </div>
            <div class="row" id="charts"></div>
        </div>
    </div>
{% endblock %}
