{% set engagementFilter = filter['field']|string|slugify %}
{% set engagementMin, engagementMax = values.get(filter['field'].replace(".", "___"), [1, 5]) %}
<div id="range{{engagementFilter}}"></div>
<div class="row">
    <div class="col-md-6">
        <div id="range-{{engagementFilter}}-min" class="range-min pull-left">
            {{engagementMin}}
        </div>
    </div>
    <div class="col-md-6">
        <div id="range-{{engagementFilter}}-max" class="range-max pull-right">
            {{engagementMax}}
        </div>
    </div>
</div>
<script>
$("#range{{engagementFilter}}").slider({
    animate:"fast",
    max:5,
    min:1,
    range:true,
    values:[{{engagementMin}}, {{engagementMax}}],
    slide:function(e, ui){
        $("#range-{{engagementFilter}}-min").html(ui.values[0]);
        var val = ui.values[1];
        $("#range-{{engagementFilter}}-max").html(val);
        capuchin.segment.filters["{{filter['field']}}"] = ui.values;
        capuchin.segment.refresh();
    }
});
</script>
