<div class="col-md-6">
    <select name="engagement_qualifier" class="form-control engagement">
        <option value="eq">Exactly</option>
        <option value="gte">At Least</option>
    </select>
</div>
<div class="col-md-6">
    <input type="number" max=5 min=1 step=1 value=1 name='engagement_value' class='engagement'/>
    {#
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    #}
</div>
<script>
    $(".engagement").change(function(e){
        filters["{{filter['field']}}"] = {
            qualifier: $("select[name='engagement_qualifier']").val(),
            value: $("input[name='engagement_value']").val(),
        }
        console.log(filters);
    });
</script>
