{% set qualifier = values.get(filter['field'].replace(".", "___"), {}).get('qualifier') %}
{% set val = values.get(filter['field'].replace(".", "___"), {}).get('value') %}
<div class="col-md-4" id="joined-qualifier-container">
    <select name="joined_qualifier" class="form-control joined">
        <option value="lte" {% if qualifier == 'lte' %}selected{%endif%}>Before</option>
        <option value="gte" {% if qualifier == 'gte' %}selected{%endif%}>After</option>
        <option value="eq" {% if qualifier == 'eq' %}selected{%endif%}>On</option>
    </select>
</div>
<div class="col-md-8" id="joined-picker-container">
    <div class="input-group">
         <input type="text" id="joined" value="{{val}}" class="form-control joined" name='joined_value' placeholder="Joined...">
         <span class="input-group-btn">
             <button class="btn btn-default" type="button"><span class="icon-calendar"></span></button>
         </span>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#joined").datepicker();
    });

    $(".joined").change(function(e){
        capuchin.segment.filters["{{filter['field']}}"] = {
            qualifier: $("select[name='joined_qualifier']").val(),
            value: $("input[name='joined_value']").val(),
        }
        capuchin.segment.refresh();
    });
</script>
