<select id="interest{{filter['field']|string|slugify}}" name="interests" class="form-control">
    <option value=""></option>
    {% for i in interests %}
    <option value="{{i.name}}" {% if values.get(filter['field']) == i.name %}selected{%endif%}>{{i.name}}</option>
    {% endfor %}
</select>
<script>
    $("#interest{{filter['field']|string|slugify}}").change(function(e){
        filters["{{filter['field']}}"] = e.target.value;
        console.log(filters);
        refresh(e);
    });
</script>
