{% extends "base.html" %}
{% block title %}Create Segment{% endblock %}
{% block head %}
<script>
    var id = "{{id}}";
    var filters = eval({{filters_json|safe}});

    console.log(filters);

    function notify(text){
        $("#notification").html(text);
        $(".alert").removeClass("hidden");
    }

    $(document).ready(function(){
        $("#filter-submit").click(function(e){
            $(".term-input").each(function(i, el){
                filters[$(el).data("field")] = $(el).val();
            });
            $.pjax({
                container:"#records",
                url: "{{ url_for('.filter_update', id=id, page=0) }}",
                type:"POST",
                data:{"filters":JSON.stringify(filters)},
                push:false,
            });
        });

        $("#segment-name-save").click(function(e){
            $.pjax({
                container:"#notifications",
                url:"{{ url_for('.save', id=id) }}",
                type:"POST",
                data:{'name':$("#segment-name").val()},
                push:false,
            });
        });
    });
    $(document).pjax(".pager", "#records", {push:false});

</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-11">
        <input class='form-control' type="text" placeholder="Enter Segment Name" id="segment-name" value="{% if name %}{{name}}{% endif %}" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-success pull-right" id="segment-name-save">Save</button>
    </div>
</div>
<div class="row" id="filtered">
    {% include "segments/filtered.html" %}
</div>
{% endblock %}
