{% extends "base.html" %}
{% block title %}Create Segment{% endblock %}
{% block head %}
<script>
    var id = "{{id}}";
    $(document).pjax(".filter", "#filtered", {push:false});
    $(document).pjax(".pager", "#people", {push:false});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-11">
        <input class='form-control' type="text" placeholder="Enter Segment Name" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-success pull-right">Save</button>
    </div>
</div>
<div class="row" id="filtered">
    {% include "segments/filtered.html" %}
</div>
{% endblock %}
