
<div class="filters col-md-3" id="filters">
    {% include "segments/filters.html" %}
</div>
<div class="data col-md-9">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="#">Age: 21 - 30</a></li>
                <li><a href="#">State: California</a></li>
                <li><a href="#">State: Michigan</a></li>
                <li><a href="#">Popularity: 2000</a></li>
            </ol>
        </div>
        <div class="col-md-3">
            <h4>List Length: 2,908</h4>
        </div>
    </row>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Location</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for p in people %}
                    <tr>
                        <td>{{p['fields']['fname'][0]}}</td>
                        <td>{{p['fields']['lname'][0]}}</td>
                        <td>{{p['fields'].get('age', [''])[0]}}</td>
                        <td>{{p['fields'].get('city', [''])[0]}}, {{p['fields'].get('state',[''])[0]}}</td>
                        <td>
                            <a target="_blank" class='btn btn-primary' href="http://facebook.com/{{p['fields']['fbid'][0]}}" role="button">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
