{% extends "base.html" %}

{% block title %}Segments{% endblock %}

{% block content %}
<div class="row">
    <h3>Segments <a href="{{ url_for('.create') }}" class="btn btn-success">Create</a></h3>
    <table class='table table-striped'>
        <thead>
            <th>Name</th>
            <th>Users</th>
            <th></th>
        </thead>
        <tbody>
            {% for seg in segments %}
            <tr>
                <td>{{seg.name}}</td>
                <td>{{"{:,}".format(seg.count)}}</td>
                <td>
                    <a class='btn btn-primary' href="{{ url_for('.id', id=seg._id|string) }}" role="button">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
