{% extends "base.html" %}

{% block title %}Lists{% endblock %}

{% block content %}
<h3>Segments <a href="/segments/create" class="btn btn-success">Create</a></h3>
<table class='table table-striped'>
    <thead>
        <th>Name</th>
        <th>Users</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Everyone</td>
            <td>9,747</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
        <tr>
            <td>Drama lovers in Delaware</td>
            <td>2,909</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
        <tr>
            <td>Liberals in Detroit</td>
            <td>1,990</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
        <tr>
            <td>Readers in California</td>
            <td>2,990</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
        <tr>
            <td>Soccer Players in USA</td>
            <td>7,098</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
        <tr>
            <td>Buddhists in Chicago</td>
            <td>544</td>
            <td>
                <a class='btn btn-primary' href='' role="button">View</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}
