<nav>
    <ul class="pagination">
        <li>
            <a class="pager" href="{{url_for('.page', q=q, page=pagination['previous'])}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in range(pagination['total_pages']+1) %}
        <li><a class="pager" href="{{ url_for('.page', q=q, page=i) }}">{{i+1}}</a></li>
        {% endfor %}
        <li>
            <a class="pager" href="{{url_for('.page', q=q, page=pagination['next'])}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
