<div class="row">
    <div class="col-md-8">
        <form action="{{url_for('.index')}}" method="GET">
            <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Search for..." value="{{q if q!='*' else ''}}">
                <span class="input-group-btn">
                    <button class="btn btn-default " type="submit">Search!</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ posts.render(q=q, from_=page*config.RECORDS_PER_PAGE) | safe }}
    </div>
</div>
