{% extends "base.html" %}

{% block title %}Post View{% endblock %}

{% block head %}
<script src="/static/js/charts/chart.js"></script>
<script>
$(document).ready(function(){
    $("#charts").multibar({
        name:"Engagement",
        data_url:"{{url_for('.chart', chart_id='engagement', post_id=post['_id'])}}"
    }).render(9);
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {{post['fields']['message'][0]}}
    </div>
    <div id="charts"></div>
</div>
{% endblock %}
