{% extends "base.html" %}

{% block title %}Post View{% endblock %}
{% set active_page='engagement' %}
{% block head %}
<script src="/static/js/charts/chart.js"></script>
<script>
$(document).ready(function(){
    $("#charts").manylines({
        name:"2-Day Performance",
        data_url:"{{url_for('.chart', chart_id='engagement', post_id=post.id)}}",
        date_format:"%-m-%d %-I %p",
        height:250,
        legend_x:-20,
        legend_y:190,
        has_circles:false,
    }).render(8);
    $("#audience_charts").bar({
        name:"Age",
        data_url:"{{url_for('.chart', chart_id='age', post_id=post.id)}}",
        height: 200,
        yShowMaxMin: false,
        yformat: ',.0f',
    }).render(4);
    $("#audience_charts").pie({
        name: "Gender",
        data_url:"{{url_for('.chart', chart_id='gender', post_id=post.id)}}",
        height: 200,
    }).render(4);
    $("#audience_charts").horizontal_percent_multibar({
        name:"Interests",
        data_url:"{{url_for('.chart', chart_id='interests', post_id=post.id)}}",
        height:200,
    }).render(4);
    $("#audience_charts").horizontal_percent_multibar({
        name:"Actions",
        data_url:"{{url_for('.chart', chart_id='actions', post_id=post.id)}}",
        height:200,
    }).render(4);
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li>Measure</li>
        <li>{{post.message|truncate(25)}}</li>
    </ol>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{current_user.client.social.facebook.app_id}}&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
    <div class="col-md-4">
        <h3>Post Preview</h3>
        <div
            class="fb-post post-preview"
            data-href="https://www.facebook.com/{{current_user.client.social.facebook.name}}/posts/{{post.id.split("_")[-1]}}"
            data-width="350"
        >
        </div>
    </div>
    <div id="charts"></div>
</div>
<div class="row">
    <div id="audience_charts">
        <h3>Audience Profiles</h3>
    </div>
</div>
<div class="row">
    <h3>Activity</h3>
    {{notifications.render({"post_id":post.id})|safe}}
</div>
{% endblock %}
