<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | SociallyMinded</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="/static/js/vendor/jquery-2.1.3.min.js"></script>
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/simple-line-icons.css">
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/vendor/d3.v3.js"></script>
        <script src="/static/vendor/novus-nvd3-7ebd54c/nv.d3.min.js"></script>
        <script src="/static/js/vendor/jquery.pjax.js"></script>
        <script src="/static/vendor/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.2.custom/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/vendor/novus-nvd3-7ebd54c/nv.d3.min.css">
        <link rel="stylesheet" href="/static/vendor/boostrap-table/bootstrap-table.css">
        <script src="/static/vendor/boostrap-table/bootstrap-table.js"></script>
        <link rel="stylesheet" href="/static/css/capuchin.css">
        {% if config.DEBUG %}
            <script type="text/javascript" src="/static/js/vendor/auto_update_css.js"></script>
            <script>
                //$.autoUpdateStylesheets();
            </script>
        {% endif %}
        <script src="/static/js/capuchin.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title">{% block modal_title %}MODAL!!!{% endblock %}</h4>
                    </div>
                    <div class="modal-body" id="modal-body">{% block modal_body %}You know you want to click this!{% endblock %}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        {% block container %}
        <div class='container'>
            {% block menu %}
            <nav class="navbar navbar-default navbar-fixed-top">
                {% block menu_items %}
                <div class="container">
                    <div class="navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                                <input name="q" type="text" class="form-control" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Search</button>
                                </span>
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right dropdown">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="icon-envelope-open" aria-hidden="true"></span>
                                    <span class="label label-danger">2</span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{url_for('facebook.index')}}">Connect a Facebook page to get started</a></li>
                                    <li><a href="{{url_for('facebook.index')}}">"Review your settings for automated alerts"</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="icon-settings" aria-hidden="true"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('facebook.index') }}">Profile</a></li>
                                    <li><a href="#">Account</a></li>
                                    <li><a href="#">Automation</a></li>
                                    <li><a href="#">Import</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-right -->
                    <div class="clearfix"></div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{url_for('dashboard.index')}}">
                            <img alt="SociallyMinded" src="/static/img/bug_white.svg">
                        </a>
                    </div>

                    {% set nav_links = [
                        {'href': url_for('dashboard.index'), 'title': 'Dashboard', 'id': 'dashboard'},
                        {'href': url_for('audience.index'), 'title':'Audience', 'id':'audience'},
                        {'href': url_for('engagement.index'), 'title':'Engagement', 'id':'engagement'},
                        {'href': url_for('reports.index'), 'title':'Reports', 'id':'insights'},
                    ] %}
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-1">
                        {% set active_page = active_page|default('dashboard') -%}
                        <ul class="nav navbar-nav">
                            {% for nav in nav_links %}
                                <li><a class="btn btn-default {% if active_page == nav['id'] %}active{% endif %}" href="{{nav['href']}}">{{nav['title']}}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="btn btn-default create" href="#">Create</a></li>
                        </ul>
                    </div><!-- /#navbar-1 -->
                </div><!-- /.container -->
                {% endblock %}
            </nav>
            {% endblock %}

            <div class='content'>
                <div id="notifications">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for message in messages %}
                                {% include "widgets/notification.html" %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        <footer class="footer">
            {% block footer %}
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2 info">
                    <h3>SociallyMinded</h3>
                    <p>© 2015. All rights reserved.</p>
                    <p>A product by Edgeflip&#8482;</p>
                    <p>Chicago, IL</p>
                </div>
                <div class="col-md-2">
                    <span data-icon="&#xe009;"></span>
                    <span data-icon="&#xe00b;"></span>
                    <span data-icon="&#xe00a;"></span>
                    <p><a href="#">About</a> | <a href="#">FAQ</a></p>
                    <p><a href="#">Support</a> | <a href="#">Contact</a></p>
                    <p><a href="#">Terms</a> | <a href="#">Privacy</a></p>
                </div>
            </div>
            {% endblock %}
        </footer>
    </body>
</html>
